<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>

        <service
            android:name=".notifications.GuardAndroidService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            tools:ignore="Instantiatable" />

    </application>

</manifest>
